extends ../layout

block head
  script(src='/javascripts/notes.js')
  link(rel='stylesheet', href='/stylesheets/notes.css')

block content
  div#menu
    button(id="newnote")= "+"
    button(id="savenote")= "Save"
  ul(id="notes")
    each note in notes
      li(data-uuid=note.uuid)
        a(href=note.uuid,rel="readNote")= note.title
        a(href=note.uuid,rel="deleteNote")= "x"
  div#editor
    div(id="notetitle",contenteditable)
    div(id="notecontent",contenteditable)